* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(238, 238, 238);
}
header {
    height: 50px;
    background: #fff;
}
img {
    width: 100%;
}
span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 18px;
}
input:focus{
    outline: none;
}
#header-items {
    width: 1000px;
}
#logo {
    width: 100px;
    margin-top: 10px;
}
#search-bar {
    width: 150px;
}
#search {
    height: 20px;
    background: #ececec;
    border-color: #999;
    border-radius: 5px;
    text-align: center;
}
#menu {
    width: 210px;
}
#origami {
    transform: rotate(-25deg);
    margin-top: -7px;
}
#save {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
#post {
    margin-top: 20px;
    width: 1000px;
    height: 700px;
    background: #999;
}
#picture {
    width: 700px;
}
#content {
    width: 300px;
    background: #fff;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: #ddd;
}
#author {
    padding: 20px;
}
#more-menu {
    width: 15px;
}
#description {
    height: 400px;
    padding: 20px;
}
#viewer {
    padding: 10px 20px;
    height: 25px;
}
#actions {
    width: 100px;
}
#red-heart {
    fill: #f55;
}
#comment-icon {
    transform: scale(-1,1);
}
#comment-bar {
    padding: 10px 20px;
    height: 20px;
}
#comment {
    border: none;
}
#publish {
    color: rgb(159, 236, 248);
}
.flex {
    display: flex;
}
.justify-space-btwn {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.align-top {
    align-items: flex-start;
}
.column {
    flex-direction: column;
}
.icon {
    width: 24px;
}
.icon-stroke {
    fill: none;
    stroke: #000;
    stroke-width: 20px;
}
.border {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ddd;
}
.profile-img {
    clip-path: circle(12px);
}
.user-img {
    width: 30px;
    clip-path: circle(15px);
    margin-right: 10px;
}
.pointer {
    cursor: pointer;
}
