/* corpo da pagina */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #9D5DA6;
}

/* barra de navegacao */
.nav {
  width: 100%;

  left: 0;
  top: 0px;

  margin: 0 auto;
  margin-bottom:500px;
  position: absolute;
  /*border-bottom: 1px solid #dbdbdb; /* bordinha de baixo do menu */

  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #F2CEF2;
}

/* icone da barra de navegacao */
.nav a {
  right: 10px;
  padding-right: 200px;
  text-decoration: none;
  font-size: 17px;
  color: #E0C4F2;
}

/* usuario na barra de navegacao */
.usuario {
  fill: #E0C4F2;
}

.logo {
  position: absolute;
  left: 200px;
}

/* a caixa de pesquisa */
.nav input {
  /* centralizando */
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 215px;
  height: 28px;
  text-align: center;
  border: none;
}

/* os icones a direita da barra de navegaçao */
.nav-direita {
  float: right;
}


/* container que guarda os icones */
.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.container a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color : #000;
}

/* os icones de compra */
.container div {
  background-color: #EAACF2;
  margin: 25px;
  padding: 50px;
}

.container div:hover {
  background-color: #8850BF;
}

.container div p {
  text-align: center;
}

.container div img {
  width: 100px;
  height: 100px;
}


/* os posts de venda */
.postagem {
  width: 615px;
  margin: auto;
  margin-top: 100px;

  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: #fff;
}

/* imagem da postagem */
.postagem img {
  width: 615px;
  height: 615px;
}

/* infos do post que ficam de baixo da foto */
.info-post {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}

.info-post img {
  width: 22px;
  height: 22px;
  padding-right: 10px;
}

/* a caixa de texto do comentario */
.info-post input {
  width: 500px;
  height: 55px;
  border: none;
}

/* botao de enviar comentario */
.info-post button {
  width: 50px;
  height: 55px;
  border: none;
  color: rgb(3, 150, 246);
}

/* links do post */
.info-post a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}