/* corpo da página */
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EAACF2;
}

/* barra de navegação */
.nav {
  width: 100%;

  left: 0;
  top: 0px;

  margin: 0 auto;
  margin-bottom:500px;
  position: absolute;


  padding-top: 10px;
  padding-bottom: 25px;
  background-color: whitesmoke;
}

/* ícone da barra de navegação */
.nav a {
  right: 10px;
  text-decoration: none;
  font-size: 17px;
  color: #E0C4F2;
}

.logo {
  position: absolute;
  left: 200px;
}

/* a caixa de pesquisa */
.nav input {
  /* centralizando */
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 215px;
  height: 28px;
  text-align: center;
  border: none;
}

/* os ícones à direita da barra de navegação */
.nav-direita {
  float: right;
  margin-right: 200px;
}


/* container que guarda os ícones */
.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
}

.container a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color : #000;
}

/* os ícones de compra */
.container div {
  background-color: whitesmoke;
  margin: 25px;
  padding: 50px;
}

.container div:hover {
  background-color: #8850BF
}

.container div p {
  text-align: center;
}

.container div img {
  width: 100px;
  height: 100px;
}


/* os posts de venda */
.container-post {
  display: flex;
  background-color: whitesmoke;
  width: 800px;
  margin: 0 auto;
  margin-top: 100px;
}

.container-post img {
  width: 200px;
  height: 200px;
  padding: 5px;
  padding-right: 15px;
}

.nome-item {
  font-weight: bold;
}

.info {
  width: 40%;
}

.preco {
  font-weight: bold;
  font-size: 24px;
  color: rgb(100, 0, 255);
}

.compra {
  flex-grow: 20;
  position: relative;
  display: block;
  padding-left: 10px;
}

.compra img {
  width: 47px;
  height: 47px;
  padding-top: 20px;
}

.user-info-container {
  display: flex;
}

.compra button {
  margin-right: 5px;
  border: none;
  width: 100px;
  height: 30px;
}

.nome-vendedor {
  font-weight: bold;
}

.botoes-compra {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.botao-msg {
  background-color: rgb(50, 200, 75);
  color: #fff;
}

.botao-comp {
  background-color: rgb(200, 5, 80);
  color: #fff;
}